venv/
__pycache__/

# user specific files
*secret*.json
*token*.json
*Signature.html
config.ini

# non code directories
templates/*
userlists/*
certificates/*

# ibuild directories
build/*
dist/*

.vscode
